.container {
  max-width: 90%;
  margin: auto;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.grass {
  background-color: #97c993;
}
